.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.button-prev,
.button-next {
  background-color: #0077cc;
  border: none;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease-in-out;
}

.button-prev:hover,
.button-next:hover {
  background-color: #005ea8;
}
